---

import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const pageTitle = "关于我";
const identity = {
  firstName: "盲旅鼠",
  character: "玉玉",
  hobbies: ["哲学", "游戏", "动漫"],
};

const animegirls = ["宝多六花", "新条茜", "南梦芽", "貉"];
const animecolor = "navy";

const tired = true;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{animecolor}}>
          h1 {
          color: purple;
          font-size: 4rem;
          }
          .animegirl {
              color: var(--animecolor);
              font-weight: bold;
          }
        </style>
	</head>
	<body>
        <a href="/">首页</a>
		<a href="/about/">关于</a>
        <a href="/test/">测试</a>
        <h1>{pageTitle}</h1>
        <h2>这将是第二个网页？！</h2>
        <Header/>
        <p>惊人的事实：</p>
        <ul>    
            <li>我的名字是{identity.firstName}</li>
            <li>我现在{identity.character}</li>
            <li>我有若干爱好，譬如{identity.hobbies[0]}</li>
            <li>我现在：{tired ? <p>几把的我累死了</p>: <p>我不累哈哈哈其实我真的很累</p> }</li>
        </ul>
        <ul>
            <li>我最近在看动漫，里面有如下角色</li>
            <ul>{animegirls.map((animegirl) => <li class="animegirl">{animegirl}</li>)}</ul>
        </ul>
        <Footer/>
	</body>
</html>
