---

import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "关于我";
const identity = {
  firstName: "盲旅鼠",
  character: "玉玉",
  hobbies: ["哲学", "游戏", "动漫"],
};

const animegirls = ["宝多六花", "新条茜", "南梦芽", "貉"];
const animecolor = "navy";

const tired = true;

---
<BaseLayout pageTitle = {pageTitle}>
    <style define:vars={{animecolor}}>
          h1 {
          color: purple;
          font-size: 4rem;
          }
          .animegirl {
              color: var(--animecolor);
              font-weight: bold;
          }
        </style>
    <h2>关于我</h2>
    <p>惊人的事实：</p>
        <ul>    
            <li>我的名字是{identity.firstName}</li>
            <li>我现在{identity.character}</li>
            <li>我有若干爱好，譬如{identity.hobbies[0]}</li>
            <li>我现在：{tired ? <p>几把的我累死了</p>: <p>我不累哈哈哈其实我真的很累</p> }</li>
        </ul>
        <ul>
            <li>我最近在看动漫，里面有如下角色</li>
            <ul>{animegirls.map((animegirl) => <li class="animegirl">{animegirl}</li>)}</ul>
        </ul>
</BaseLayout>